.user-count {
  text-align: right; 
  font-size: 1.2rem;
  margin-bottom: 20px;
  padding: 10px;
}

.all-residents-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  .search-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #33333310;
    color: black;
  }

  .residents-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  }
  .resident-card {
    background-color: #dddcdc3f;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    width:400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    border: 1px solid #9dbfea;
    margin-right: 10px;
         
  }
  
  .resident-details {
  margin-bottom: 10px;
  }
  
  .resident-details p {
    margin: 5px 0;
  }
  
  .resident-details p:first-child {
    font-weight: bold;
  }
 
  .resident-name {
    color: #333;
    font-size: 1.2rem;
  }
  
  .resident-email {
    color: #666;
  }
  
  .resident-phone {
    color: #666;
  }
  
  .resident-address {
    color: #666;
  }
  
  .resident-card:last-child {
    margin-bottom: 0;
  }
  .delete-button {
    background-color: #ff4d4d; 
    color: white; 
    border: none;
    padding: 8px 12px; 
    font-size: 14px; 
    cursor: pointer; 
    border-radius: 4px; 
    transition: background-color 0.3s; 
  }
  
  .delete-button:hover {
    background-color: #e60000; 
  }


.resident-details {
  margin-bottom: 10px;
  padding: 20px;
}

.resident-details p {
  margin: 5px 0;
}

.resident-details p:first-child {
  font-weight: bold;
}

.resident-name {
  color: #333;
  font-size: 1.2rem;
}

.resident-email,
.resident-phone,
.resident-address {
  color: #666;
}
.delete-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 3px 6px; 
  font-size: 10px; 
  cursor: pointer; 
  border-radius: 4px; 
  transition: background-color 0.3s; 
  position: absolute; 
  bottom: 5px;
  left: 50%; 
  transform: translateX(-50%);
}

.delete-button:hover {
  background-color: #e60000; 
}

.resident-image-container {
  margin-bottom: 10px;
}

.resident-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.user_details{
  display: flex;
}
