/* General layout */
.announcement-page-container {
  display: flex;
  min-height: 100vh;
  margin: 0;
}

/* Sidebar styling */
.announcement-sidebar {
  width: 250px; /* Fixed width for the sidebar */
  background-color: #f4f4f4d4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Ensure scrollbar if content overflows */
}

/* Main content styling */
.announcement-main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f9f9f9c4;
  margin-left: 0; /* Ensure it doesn't overlap with the sidebar */
}

.announcement-main-content h1 {
  font-size: 50px;
  color:rgba(0, 0, 0, 0.854);
}

/* Style for each announcement record */
.announcement-item {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space out the children elements */
  border: 1px solid #ccc; /* Add border around each announcement */
  padding: 10px; /* Add padding for spacing */
  margin-bottom: 10px; /* Add margin at the bottom for separation */
  background-color: #ffffffab;
  position: relative; /* Make the item a positioning context */
}

/* Style for announcement titles */
.announcement-title {
  font-weight: bold; /* Make the title bold */
}

/* Style for announcement descriptions */
/*.announcement-description {
  color: #666;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  max-width: 300px; 
  position: relative;
}*/
.announcement-description {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.announcement-description:hover::after {
  content: attr(data-fulltext);
  position: absolute;
  white-space: nowrap;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* Style for announcement created date */
.announcement-date {
  font-style: italic; /* Make the date italic */
  color: #999; /* Change color of date text */
}

/* Button styling */
.announcement-button {
  background-color: rgba(0, 0, 0, 0.792);
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.announcement-button:hover {
  background-color: #0056b3;
}

/* Link styling */
.announcement-link {
  text-decoration: none;
}

.announcement-link button {
  margin-bottom: 20px;
}

/* Delete button styling */
.announcement-deletebutton {
  background: none; /* Remove background */
  border: none; /* Remove border */
  cursor: pointer; /* Pointer cursor on hover */
  padding: 0; /* Remove padding */
  color:black;
}

.announcement-deletebutton:hover {
  color: red; /* Change icon color on hover */
}
