
.news-section {
  padding: 30px;
  text-align: center; 
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  background-color: rgb(28, 78, 136);
  color:white !important;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.news-item {
  width: calc(50% - 20px); 
  border: 1px solid rgb(28, 78, 136);
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}

.news-content {
  padding: 20px;
}

.news-content h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px; 
}

.news-content p {
  font-size: 14px;
  margin-bottom: 10px;
}

.news-content img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}



.load-more {
  margin-top: 20px;
  padding: 10px 20px;
  background-color:  rgb(28, 78, 136);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.load-more:hover {
  background-color: #007bff;
}


@media (max-width: 768px) {
  .news-item {
    width: 100%;
  }

  .news-container {
    justify-content: center;
    gap: 10px;
  }

  .read-more {
    width: auto;
  }
}

@media (max-width: 480px) {
  .section-title {
    font-size: 20px;
  }

  .news-content h3 {
    font-size: 16px;
  }

  .news-content p {
    font-size: 12px;
  }

  .read-more {
    padding: 8px 8px;
    font-size: 14px;
  }

  .load-more {
    padding: 8px 16px;
    font-size: 14px;
  }
}
