
.news-section {
  padding: 30px;
  text-align: center; 
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  background-color: #5dbeef;
  color:white !important;

}

.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.news-item {
  width: calc(50% - 10px); 
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.news-content {
  padding: 20px;
}

.news-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.news-content p {
  font-size: 14px;
  margin-bottom: 10px;
}

.news-content img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.read-more {
  display: inline-block;
  padding: 10px 10px;
  margin: 0;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  background-color: #ffffff;
  color: #5dbeef;
  border: 1px solid #5dbeef;
  width: 115px; 
}

.read-more:hover {
  background-color: #007bff;
  color: #ffffff;
}

.load-more {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.load-more:hover {
  background-color: #0056b3;
}
