.contactPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-left: 140px;
  font-family: 'Merriweather', serif;
  overflow: hidden;
}

.contacttabs {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px 0;
  margin-bottom: 20px;
}

.tabb {
  flex: none;
  width: 200px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
  border-radius: 4px 4px 0 0; 
}

.tabb.active {
  background-color: #6ba8e3;
  font-weight: bold;
}

.Container {
  width: 100%;
  max-width: 800px; 
}

.message-container {
  width: 100%;
  max-width: 900px; 
  margin-left: 50px;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: black;
}

.message-content {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 5px 9px rgba(2, 36, 58, 0.235);
}

.chat {
  font-weight: bold;
  margin-bottom: 5px;
  padding: 10px;
}

.chatTime {
  font-size: 12px;
  color: #555;
  margin-bottom: 5px;
}

.not-seen {
  color: red;
  margin-bottom: 0;
}

.Seen {
  color: green;
}

.trash-icon {
  position: absolute; 
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #999;
  transition: color 0.3s ease;
}

.trash-icon:hover {
  color: red;
}

.Ann{
  color:#0e66be;
}

.message-input {
  width: 100%;
  max-width: 800px; 
  background-color: #ffffff76;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 5px 9px rgba(2, 36, 58, 0.235);
}

.message-input form {
  display: flex;
  flex-direction: column;
}

.cmessage-icon {
  font-size: 1.3rem; 
  cursor: pointer;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.cmessage-icon.active { 
  color:black;
  background-color: white;
}

.message-input input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 0.3px solid #ccc;
  border-radius: 5px;
}

.anonymous-option {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.anonymous-option label {
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 10px;
}

.send {
  padding: 12px 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  width: 25%;
}

.send:hover {
  opacity: 0.5;
  background-color: rgb(21, 94, 90);
}

.success {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}




@media (max-width: 1330px) {
  .contacttabs {
    width:80%;
  }
  .tabb {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .contactPage {
    margin-left: 130px;
    padding: 10px;
  }

  .contacttabs {
    flex-direction: column;
  }

  .tabb {
    width: 100%;
    margin-bottom: 5px;
  }

  .Container,
  .message-container,
  .message-input {
    width: 100%;
    margin-left: 0;
    max-width: 100%;
  }

  .message-content {
    padding: 5px;
  }

  .message-input input[type="text"] {
    padding: 8px;
  }

  .send {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .contacttabs {
    flex-direction: column;
  }

  .tabb {
    width: 100%;
    margin-bottom: 5px;
  }

  .Container,
  .message-container,
  .message-input {
    width: 100%;
    margin-left: 0;
    max-width: 100%;
  }

  .message-content {
    padding: 5px;
  }

  .message-input input[type="text"] {
    padding: 8px;
  }

  .send {
    width: 100%;
  }
}