/*
.ContactPage {
  padding: 50px 20px; 
}

.contact-container {
  max-width: 800px;   margin: 0 auto; 
}

.Direct-Communication {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.Direct-Communication h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}
.Direct-Communication textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd; 
  border-radius: 5px;
  resize: vertical; 
}

.anonymous-option {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.anonymous-option input[type="radio"] {
  margin-right: 10px;
}

.anonymous-option label {
  font-size: 1.2rem;
  color: #555; 
}

.anonymous-option label:last-child {
  margin-left: 10px;
}

button[type="submit"] {
  padding: 12px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3; 
}*/
.contactPage {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 50px 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border: 5px;
}
.contactPage ul {
  list-style: none;
  padding: 0;
}

.contactPage li {
  border: 1px solid #ccc; /* Add border to each list item */
  margin-bottom: 10px; /* Add some space between each list item */
  padding: 10px; /* Add padding for better readability */
  background-color: #fff;
}



.contactPage p {
  margin: 0; /* Remove default margin for paragraphs */
}

.message-input {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.message-container {
  margin-top: 20px;
}

.anonymous-option {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.anonymous-option input[type="radio"] {
  margin-left: 20px;
}

.anonymous-option label {
  font-size: 1.2rem;
  color: #555; 
}

.anonymous-option label:last-child {
  margin-left: 0px;
}

input, select, button {
  margin-right: 10px;
  margin-bottom: 10px;
}
.success {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}