.create-updates-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f7ff;
  border-radius: 10px;
}

.create-updates-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.create-updates-container form {
  display: flex;
  flex-direction: column;
}

.create-updates-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.create-updates-container input[type="text"],
.create-updates-container textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 0.5px solid #66afd6;
  border-radius: 5px;
}

.create-updates-container input[type="file"] {
  margin-bottom: 15px;
}

.create-updates-container button {
  padding: 10px 20px;
  background-color: #3e65e2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-updates-container button:hover {
  background-color: #2c4d9c;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

.history-button {
  margin-top: 20px;
}

.history-button-container {
  display: flex;
  justify-content: center;
}