.create-updates-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color:rgba(255, 255, 255, 0.025);
  border-radius: 10px;
  margin-top: 50px;
  border: 0.5px solid #b5b6b6 ;
  font-family: 'Merriweather', serif;
}

.create-updates-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.create-updates-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  margin-bottom: 20px;
}

.input-container fieldset {
  border: 0.5px solid black;
  border-radius: 20px;
  padding: 0 10px 10px;
  margin: 0;
  position: relative;
  box-sizing: border-box;
}

.input-container legend {
  font-size: 14px;
  padding: 0 5px;
  color: black;
  position: absolute;
  top: -10px;
  left: 10px;
  width: fit-content;
  background: white;
}

.input-container input,
.input-container textarea {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.input-container textarea {
  resize: none;
}

.create-updates-container input[type="file"] {
  margin-bottom: 15px;
  font-size: 12px;
}

.create-updates-container button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
}

.create-updates-container button:hover {
  opacity: 0.8;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

.history-button {
  margin-top: 20px;
}

.history-button-container {
  display: flex;
  justify-content: center;
}
.publish-button {
  color: white;
  background-color: black;
}