.create-updates-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color:rgba(255, 255, 255, 0.025);
  border-radius: 10px;
  margin-top: 50px;
  border: 0.5px solid #b5b6b6 ;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.create-updates-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.create-updates-container form {
  display: flex;
  flex-direction: column;
}

.create-updates-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.create-updates-container input[type="text"],
.create-updates-container textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 0.5px solid #66afd6 ;
  border-radius: 20px;
}

.create-updates-container input[type="file"] {
  margin-bottom: 15px;
  
}

.create-updates-container button {
  padding: 10px 20px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-updates-container button:hover {
  background-color: #396fec;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

.history-button {
  margin-top: 20px;
}

.history-button-container {
  display: flex;
  justify-content: center;
}