@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.SurveyContainer {
  padding: 30px;
  font-family: 'Merriweather', serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-image: url('../assets/black-prism-concept-ai-generated.jpg');
  background-size: cover;
  background-position: center;
}

.Navbar {
  margin-bottom: 30px;
  width: 100%;
}

.SurveyContainer h3 {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
}

.polls-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(157, 169, 173, 0.477);
  gap: 20px;
  padding: 20px;
  margin: 2px 2px 2px 140px;
  width: auto;
  height: 100%;
  overflow-y: auto;
}

.poll {
  border: 3px solid black;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  overflow: hidden;
  color: #333;
  flex: 1 1 300px;
}

.poll h1 {
  font-size: 28px;
  color: rgb(6, 6, 6);
  margin-bottom: 25px;
}

.poll h5 {
  margin-bottom: 25px;
  font-size: 18px;
  color: rgb(24, 81, 147);
}

.options .option {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.option input {
  margin-right: 15px;
  width: 20px;
  height: 20px;
  accent-color: #010304;
}

.option label {
  font-size: 16px;
  color: #010203;
}

.doSurveybutton {
  display: inline-block;
  padding: 12px 25px;
  margin-top: 20px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.doSurveybutton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.doSurveybutton:hover:enabled {
  opacity: 0.8;
  transform: translateY(-3px);
}

.doSurveybutton::before {
  margin-right: 10px;
}

.result {
  margin-top: 10px;
  font-size: 14px;
  color: green;
}

.error {
  margin-top: 10px;
  font-size: 14px;
  color: red;
}

@media (max-width: 768px) {
  .poll {
    width: 90%;
    margin: 15px;
  }

  .SurveyContainer h3 {
    font-size: 20px;
  }

  .poll h1 {
    font-size: 24px;
  }

  .poll h5 {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .SurveyContainer {
    padding: 15px;
  }

  .SurveyContainer h3 {
    font-size: 18px;
  }

  .poll {
    width: 100%;
    padding: 20px;
  }

  .poll h1 {
    font-size: 20px;
  }

  .poll h5 {
    font-size: 14px;
  }

  .doSurveybutton {
    padding: 10px 20px;
    font-size: 14px;
  }
}
