/* ForgotPasswordPage.css */

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url('../assets/image1.jpg'); /* Replace 'image1.jpg' with your image path */
  background-size: cover;
  background-position: center;
}

.ForgotPasswordPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Georgia', serif;
}

.ForgotPasswordPage-container {
  max-width: 800px; /* Enlarge the container */
  margin: 0 auto;
  padding: 40px; /* Increase padding */
  border: 0.5px solid #ccc;
  border-radius: 8px;
  background-image: url('../assets/image2.jpg'); /* Replace 'image2.jpg' with your image path */
  background-size: cover;
  background-position: center;
}

.ForgotPasswordPage h2 {
  font-size: 24px;
  margin: 20px 0;
  color: #333;
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #777;
}

.input-field {
  width: calc(100% - 30px); /* Adjust width for icon */
  margin: 8px 0;
  padding: 12px 40px; /* Increase padding for icon */
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #3889de;
  color: white;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #2a76c7;
}

.message {
  margin-top: 20px;
  color: #333;
  text-align: center;
}
