/* ForgotPasswordPage.css */

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url('../assets/image1.jpg'); 
  background-position: center;
  background-repeat: no-repeat;
}

.ForgotPasswordPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Georgia', serif;
  transition: all 0.5s ease-in-out;
}

.ForgotPasswordPage-container {
  width: 80%;
  max-width: 500px; 
  margin: 0 auto;
  padding: 40px; 
  border: 0.5px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
  background-color: whitesmoke;
}

.ForgotPasswordPage h2 {
  font-size: 24px;
  margin: 20px 0;
  color: #333;
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.icon {
  position: absolute;
  top: 45%;
  left: 8px;
  transform: translateY(-50%);
  color: #777;
  width: 0.9em;
  pointer-events: none;
}

.input-field {
  width: 100%; 
  margin: 10px 10px 10px 30px;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

.submit-btn {
  width: 50%;
  padding: 12px;
  background-color: #3889de;
  color: white;
  margin: 10px 0;
  border: none;
  margin: 20px auto 10px; 
  display: block;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.submit-btn:hover {
  background-color: #2a76c7;
}

.msg {
  margin-top: 20px;
  color: #0d209e; 
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
@media screen and (max-width: 340px) {
  .ForgotPasswordPage-container {
    width: 80%; 
    padding: 20px; 
  }
  .input-field {
    padding: 10px 40px; 
  }
  .submit-btn {
    padding: 10px; 
    width: 70%;
  }
}
