body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

.LoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Georgia' , serif;
  position: relative;
}

.login-container {
  background-color: rgba(255, 230, 230, 0.6);
  box-shadow: 3px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 350px;
  height: 525px; /* Fixed height for container */
  z-index: 2;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo-container img {
  width: 100px;
  height: 100px;
}

.tabs {
  display: flex;
  justify-content: space-around;

}

.tab {
  padding: 10px 5px; /* Reduced padding */
  cursor: pointer;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.tab.active {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

.tab:hover {
  color: #0056b3;
}


.login-form {
  padding: 20px;
  
}

h6 {
  color:black;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #007bff;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  margin: 8px 0;
  padding: 12px;
  width: calc(100% - 24px); /* Adjusted width to accommodate padding */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #007bff;
}

.button-container {
  text-align: center;
}

.login-btn {
  padding: 12px 24px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease;
}

.register-btn {
  background-color: #fff;
  color: #007bff;
  border: 1px solid #007bff;
  padding: 12px 24px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.register-btn:hover {
  border-color: #007bff;
  color:white;
}

.forgot-password {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.forgot-password:hover {
  color: #0056b3;
}

.error-message {
  color: #dc3545;
  margin-top: 10px;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Background image animations */
.background-image1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/image1.jpg');
  background-size: cover;
  background-position: center;
}




@media screen and (max-width: 600px) {
  .login-container {
    padding: 20px;
  }
}
