
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

.LoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  font-family: 'Merriweather', serif;
  background-image: url('../assets/black-prism-concept-ai-generated.jpg');
  background-size: cover;
  background-position: center;
}

.login-container {
  background-color:rgba(157, 169, 173, 0.6);
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 350px;
  transition: width 0.3s ease;
}

.logo-container {
  text-align: center;
  
}

.logo-container img {
  width: 70px;
  height: 70px;
}

.logo-container h6 {
  margin-top: 0;
  font-size: 15px;
  color: #020406;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.tab {
  padding: 10px;
  cursor: pointer;
  color: #000000;
  font-weight: 300;
  transition: color 0.3s ease;
  position: relative;
}

.tab.active {
  border-bottom: 2px solid #212324;
  color: black;
}

.login-form {
  padding: 25px;;
  text-align: center;
}

form-control-custom  {
  margin: 5px;
  padding: 12px;
  border: 0.5px solid #212324;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease;
  width: 100%;
}



.input-group {
  position: relative;
  margin: 5px 0;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #080808;
}

.button-container {
  margin-top: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.login-buttn, 
.register-btn {
  display: inline-block;
  padding: 10px 10px;
  margin: 0;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  background-color: #ffffff;
  color: black;
  border: 1px solid #020202;
  width: 115px; 
}


.register-btn:hover,
.login-buttn:hover {
  background-color:#212324;
  color: #ffffff;
}

.forgot-password {
  color: #050505;
  text-decoration: none;
  transition: color 0.3s ease;
}

.forgot-password:hover {
  color: #212324;
}

.tab i,
.login-buttn i,
.register-btn i {
  margin-right: 5px;
}

/* Adjust icon sizes as needed */
.tab i {
  font-size: 16px;
}

.login-buttn i,
.register-btn i {
  font-size: 14px;
}



@media screen and (max-width: 340px) {
  .login-container {
    padding: 15px;
    width : 80%;
  }
  .logo-container img {
    width: 50px;
    height: 50px;
  }
  .logo-container h6 {
    font-size: 14px;
  }
  .form-control-custom {
    padding: 10px;
    font-size: 12px;
  }
  .tab {
    padding: 8px 0;
    font-size: 14px;
  }
  .login-buttn, .register-btn {
    width: 100%;
    padding: 6px;
    font-size: 14px;
  }
  .password-toggle {
    right: 14px; /* Adjust position for smaller screens */
  }
}
