/* NewsSection.css */
/* NewsSection.css */

.NewsSection {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .section-heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .news-container {
    display: flex;
    flex-direction: column;
  }
  
  .news-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .news-item h3 {
    font-size: 20px;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .news-item p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .read-more {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .read-more:hover {
    color: #0056b3;
  }
  
  .load-more {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  .load-more:hover {
    background-color: #0056b3;
  }
  