/* Notification.css */

.Notification {
  background-color: #f8f9fa; /* Light background color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.Notification h2 {
  font-size: 1.5rem;
  color: #3e65e2; /* Blue color for heading */
  margin-bottom: 15px;
}

.notification-container {
  display: flex;
  flex-direction: column;
}

.notification {
  background-color: #fff; /* White background color for notifications */
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px; /* Add space between notifications */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.notification p {
  font-size: 1rem;
  color: #333; /* Text color */
}
