
.main-content {
  font-family: 'Merriweather', serif;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  background-image: url('../assets/image3.jpg');
  background-size: cover;
  background-position: center; 
}