.resident-home{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Merriweather', serif;
}

.piano1{
  display: flex;
  float: left;
  width: 200px;
}

.piano2{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.main-content.h3 {
  color:white;
  background-color: #5dbeef;
}

.aboutUs-section {
  padding: 30px;
  text-align: center;
}

.main-content {
  background-image: url('../assets/image2.jpg');
  background-size: cover;
  background-position: center;
}