.survey_result {
  background-color: rgba(0, 0, 0, 0.361); 
  margin: 20px auto;
  padding: 20px;
  width: 80%; 
  border-radius: 10px;
  box-shadow: 0 0 10px #241f1f1a;
  color: black; 
  font-family: 'Merriweather', serif;
}

.survey_result h3 {
  color: black;
  font-weight: bold;
}

.polling-result-analysis {
  margin-top: 20px;
}

.poll-item-wrapper {
  margin: 10px 0;
}

.option-text {
  color: #ff1e00; /* Ensure option text is yellow */
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px; /* Add margin for spacing */
}

.poll-item {
  display: flex;
  align-items: center;
  border-radius: 25px;
  height: 40px;
  position: relative;
  background-color: #333; 
  overflow: hidden;
}

.poll-bar {
  display: flex;
  align-items: center;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 25px 0 0 25px;
  padding: 0 10px;
  color: white; /* Ensure option text inside the bar is yellow */
}

.poll-item .percentage-text {
  font-size: 16px;
  font-weight: bold;
  background-color: black;
  color: yellow; /* Set percentage text color to yellow */
  padding: 0 10px;
  position: absolute;
  right: 10px;
}
