/* Center the entire user container on the page */
.user-container {
  display:inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Full height viewport */
  text-align: center; /* Center text */
}

.user-cardd {
  margin-top: none;
  background-color:rgba(255, 255, 255, 0.605);
  color:black;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.112);
  max-width: 350px; /* Maximum width for the card */
  width: 100%; /* Ensure it takes full width within the max-width */
  text-align: left; /* Align text to the left inside the card */
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc; 
  display: flex;
  height: auto;
 font-size: 12.5px; 
 
}

.user-image-container 
{

  margin-top: 20px;
}

.user-image {
  width: 80px; /* Adjust as needed */
  height: 80px; /* Adjust as needed */
  border-radius: 50%; /* Make the image round */
  object-fit: cover; /* Cover the container */
  
}

.user-details {
  margin-bottom: 1px;
}

.user-details p {
  margin: 5px 0;
}

.user-details p:first-child {
  font-weight: bold;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 20px;
}

.accept-button,
.reject-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  
  cursor: pointer;
  transition: background-color 0.3s;
}

.accept-button {
  background-color: #4caf50; /* Green */
  color: white;
}

.accept-button:hover {
  background-color: #45a049; /* Darker green */
}

.reject-button {
  background-color: #f44336; /* Red */
  color: white;
}

.reject-button:hover {
  background-color: #d32f2f; /* Darker red */
}

.response-message {
  color: red;
  margin-top: 20px;
  font-size: 18px;
}

