/* Styling for WardMessage component */
.ward-message-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.445);
    padding: 20px;
  }
  
  .ward-message-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .ward-message-list {
    list-style: none;
    padding: 0;
  }
  
  .ward-message-item {
    width: 700px;
    background-color: #f8f9facd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 25px;
    position: relative; /* Position the delete button relative to this */
    border: 1px solid #ccc;
    margin-bottom: 10px;
    
  }
  
  .ward-message-content {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .ward-message-time {
    font-size: 14px;
    color: #666666;
  }
  
  .ward-message-user-id {
    font-size: 16px;
    color: #333333;
  }
  
  .ward-message-private {
    color: #ff0000; /* Red color for private messages */
    font-weight: bold;
  }
  
   
  
.delete-button1 {

  color: rgba(0, 0, 0, 0.888);
  background: none; /* Remove background */
  border: none; /* Remove border */
  cursor: pointer; /* Pointer cursor on hover */
  padding: 0;
  position: absolute;
  top: 25%; 
  right: 2%; 
  transform: translateY(-50%); 
}



.delete-button1:hover svg {
  color:red; /* Change fill color on hover */
}


.read-button {
    /*background-color: #3cbe5a;  Green color for Read button */
    background-color: rgba(0, 128, 0, 0.637);
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px; /* Add margin between Read and Delete buttons */
    cursor: pointer;
  }
  
  .read-button:hover {
    background-color: #0d4b1a; /* Darker green color on hover */
  }
  .ward-message-read{
    color: #3498db;
  }
  .ward-message-unread{
    color: #3498db;
  }
  
  
  