

.feature-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Style for each card */
.card {
  margin: 20px; 
  max-width: 400px; 
  border: 1px solid #5dbeef ;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px; 
}

.card-icon {
  font-size: 36px; 
  margin-bottom: 20px; 
  color: #63c1f0;
}

.card-description {
  font-size: 16px;
  line-height: 1.5;
}


@media (max-width: 768px) {
  .card {
    max-width: calc(50% - 40px); 
  }
}

@media (max-width: 576px) {
  .card {
    max-width: calc(100% - 40px); 
  }
}
