
.feature-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.card {
  margin: 20px; 
  max-width: 400px; 
  flex: 1 1;
  border: 1px solid  rgb(4, 4, 4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  background: #fff;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(58, 58, 60, 0.2);
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px; 
}

.card-icon {
  font-size: 36px; 
  margin-bottom: 20px; 
  color: rgb(4, 4, 4);
}

.card-description {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}
