/* Header.css */
.header {
  margin-left: 200px; 
  padding: 10px;
  background-color: #ffffff;
  color: #007bff; 
  font-family: 'Merriweather', serif;
}


.btn {
  margin-bottom: 20px;
}

.paragraphs p {
  margin-bottom: 2px;
}
