.header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero-title {
  color: #007bff;
  font-weight: bold;
}

.btn-outline-light {
  color: #007bff;
  border-color: #007bff;
}

.btn-outline-light:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.learn-more-description {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}

.paragraphs {
  padding: 20px;
  color: #007bff;
}
