
  /* Navbar.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #63c1f0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: 'Merriweather', serif;
}

.navbar-nav {
  list-style-type: none;
  width: 100%;
  padding-top: 100px;
}

.nav-item {
  width: 100%;
  padding: 15px 20px;
}

.nav-link i {
  padding-right: 16px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 15px 70px;
  color: #fff;
  text-decoration: none;
  width: 100%;
  font-size: 18px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  color: #0d1f27;
}

.nav-text {
  margin-left: 10px;
}


.logo-container {
  text-align: center;
  padding-top: 20px;
}
